// font-family: 'Lato', sans-serif;
// font-family: 'Poppins', sans-serif;

// fonts
$font-main: 'Poppins', sans-serif;
$font-secondary: 'Lato', sans-serif;

// colors
$color-main: #000000;
$color-accent: #4ABAAA;
$color-secondary: #666D73;
$color-orange: #F4892B;

// media query breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;